.messenger__fast__hr {
    width: 100%;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    background-color: #edeef0;
    color: #edeef0;
}

.messenger__fast {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.messenger__fast-box {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}

.border {
    border-bottom: 1px solid rgb(255, 255, 0);
    height: 40px;
    margin-bottom: 10px;
}



.padding__zero {
    padding: 10px;
    margin: 0;
    font-weight: 400;
}

.messenger__fast-items-box {
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 8px;
}

.messenger__fast-items-box:hover {
    background-color: #edeef0;
}

.fontChTit {
    font-size: 14px;
}

.fontCh {
    font-size: 14px;
    font-weight: 500;
    color: black;

    padding: 10px;
}