.cap {
    /* border: 1px solid black; */

}

.cap__container {
    margin-left: 5.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vkontakte {
    font-size: 18px;
    color: #447bba;
}

.search {
    margin-bottom: 8px;
    width: 200px;
    height: 30px;
    margin-left: 20px;
    border-radius: 8px;
    background-color: #edeef0;
    border: none;
    padding-left: 10px;
}

.brand__box {
    display: flex;
    align-items: center;
}

.login__box {
    float: right;
    display: flex;
}