.cap {
    /* border: 1px solid black; */

}

.cap__container {
    margin-left: 5.5%;
    display: flex;
    align-items: center;
}

.vkontakte {
    font-size: 18px;
}

.search {
    width: 200px;
    height: 30px;
    margin-left: 20px;
    border-radius: 8px;
    background-color: #edeef0;
    border: none;
    padding-left: 10px;
}