.Content {
    width: 95%;
    margin-left: 1%;
    background-color: #edeef0;
}

.width__padding {
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 8px;
    border: 1px solid white;
    margin-bottom: 50px;
    background-color: white;
}

.width__margin {
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 8px;
    background-color: white;
    /* border: 1px solid black; */
}