/* / */

.post__box {
    width: 463px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.post__write {
    height: 50px;
    width: 430px auto;
    border: 1px solid #c0c0c0;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;

}

.post__add {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #447bba;
    font-weight: 700;
    color: white;
    margin-top: 3px;
    margin-bottom: 25px;
}

.posts__ava {
    border-radius: 250px;
    border: 2px solid rgb(81, 137, 221);
}

.right {
    display: flex;
    justify-content: flex-end;
}

.post {
    margin-bottom: 50px;
}

.posts-box {
    display: flex;
    flex-direction: column;

}

.post-body {
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    width: 600px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 40px;
}

.box-for-post {
    text-align: justify;
    display: flex;
    padding: 0 25px 0 25px;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}

.post__content {
    max-width: 540px;
    box-sizing: border-box;
    padding-top: 10px;
    word-wrap: break-word;
}

.posts__ava__info {
    display: flex;
}

.posts__info-title {
    font-size: 18px;
    font-weight: 900;
    margin-block-start: 0;
    margin-block-end: 0;
}

.posts__info-subtitle {
    font-size: 14px;
    font-weight: 700;
    color: #57585a;
}

.posts__info-title,
.posts__info-subtitle {
    text-align: center;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.pj {
    display: flex;
    flex-direction: column;
    padding: 18px 0;
    padding-left: 15px;
}